@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "Merriweather";
    font-style: normal;
    font-weight: 400;
    font-display: block;
    src: url(Merriweather-Regular.ttf);
  }

  @font-face {
    font-family: "Merriweather";
    font-style: normal;
    font-weight: 700;
    font-display: block;
    src: url(Merriweather-Bold.ttf);
  }

  @font-face {
    font-family: "Merriweather";
    font-style: italic;
    font-weight: 400;
    font-display: block;
    src: url(Merriweather-Italic.ttf);
  }

  @font-face {
    font-family: "Merriweather";
    font-style: italic;
    font-weight: 700;
    font-display: block;
    src: url(Merriweather-BoldItalic.ttf);
  }

  @font-face {
    font-family: "DancingScript";
    font-style: normal;
    font-weight: 400;
    font-display: block;
    src: url(DancingScript-Regular.ttf);
  }

  @font-face {
    font-family: "DancingScript";
    font-style: normal;
    font-weight: 500;
    font-display: block;
    src: url(DancingScript-Medium.ttf);
  }

  @font-face {
    font-family: "DancingScript";
    font-style: normal;
    font-weight: 600;
    font-display: block;
    src: url(DancingScript-SemiBold.ttf);
  }

  @font-face {
    font-family: "DancingScript";
    font-style: normal;
    font-weight: 700;
    font-display: block;
    src: url(DancingScript-Bold.ttf);
  }

  h1 {
    @apply text-8xl;
  }
  h2 {
    @apply text-3xl;
  }
  h3 {
    @apply text-xl;
  }
}